<!DOCTYPE html>
<html>
  {{>head }}
  <body class="">

    <nav class="navbar navbar-inverse navbar-toggleable-md bg-inverse" role="navigation">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainBar" aria-controls="mainBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">RDU Trello Dashboard</a>
      <div class="collapse navbar-collapse" id="mainBar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">All cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/special/late">Overdue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/special/upcoming">Due this week</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navListsDD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lists</a>
            <div class="dropdown-menu" aria-labelledby="navListsDD">
              {{#each lists }}
              <a href="/list/{{ @key }}" class="dropdown-item">{{ this }}</a>
              {{/each }}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navDeptsDD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Depts</a>
            <div class="dropdown-menu" aria-labelledby="navDeptsDD">
              {{#each deptList }}
              <a href="/dept/{{ this }}" class="dropdown-item">{{ this }}</a>
              {{/each }}
            </div>
          </li>          

        </ul>
      </div>
    </nav>
    <div class="container-fluid main">
      {{{ body }}}
    </div>
     
    {{>foot }}
  </body>
</html>