<section class="container">
  <h3>{{ title }}</h3>
  <div class="row">
    <div class="col">
      <div class="jumbotron"><h2 class="display-3">{{ total }}</h2><br /><p class="lead">measures</p></div>
    </div>
  </div>
  {{#each data }}
  <h3>{{ @key }}</h3>
  <table class="table-striped table">
    <thead class="thead-inverse">
      <tr>
        <th>Dept/Code</th>
        <th>Measure</th>
      </tr>
    </thead>
    <tbody>
    {{#each this }}
    {{#if card.name }}
      <tr>
        <td><a href="{{ card.url }}" target="_blank">{{ card.matches.[1] }} {{ card.matches.[2] }}</a></td>
        <td>{{ card.matches.[3] }}</td>
      </tr>
    {{/if }}
    {{/each }}      
    </tbody>
  </table>
  {{/each }}

</section>