<section class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col">
      <div class="jumbotron"><h2 class="display-3">{{ total }}</h2><br /><p class="lead">measures</p></div>
    </div>
  </div>
  {{#each data }}
  <h2>{{ @key }}</h2>
  <table class="table-striped table" class="cards">
    <thead class="thead-inverse">
      <tr>
        <th>Dept/Code</th>
        <th>Measure</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each this }}
      {{#if matches.[1] }}
      <tr>
        <td>
          <a href="{{ url }}" target="_blank">{{ matches.[1] }} {{ matches.[2] }}</a>
        </td>
        <td>{{ matches.[3] }} {{#if geog }}<span class="badge badge-info">{{ geog }}</span>{{/if }} {{#if pub }}<span class="badge badge-danger">unpub</span> {{/if }}</td>
        <td>{{ fdate }} {{#if overdue }}<span class="warning">!</span>{{/if }} {{#if dueComplete }} <span>✔︎</span>{{/if }}</td>
      </tr>
      {{/if }}
      {{/each }}
    </tbody>
  </table>
  {{/each }}

</section>