<section class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col">
      <div class="jumbotron"><h2 class="display-3">{{ total }}</h2><br /><p class="lead">measures</p></div>
    </div>
    <div class="col">
      <p><a href="{{ link }}">All</a>: {{ gtotal }}</p>
      {{#each depts }}
      <p><a href="{{ ../link }}{{ @key }}">{{ @key }}</a>: {{ this }} </p>
      {{/each }}
    </div>  
  </div>
  <table class="table-striped table" class="cards">
    <thead class="thead-inverse">
      <tr>
        <th>Dept/Code</th>
        <th>Measure</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each data }}
      {{#if matches.[1] }}
      <tr>
        <td>
          <a href="{{ url }}" target="_blank">{{ matches.[1] }} {{ matches.[2] }}</a>
        </td>
        <td>
        {{ matches.[3] }} 
        {{#if geog }}<span class="badge badge-info">{{ geog }}</span>{{/if }} 
        {{#if pub }}<span class="badge badge-danger">unpub</span> {{/if }}
        {{#if lab }}<span style="background-color: black;" class="badge">{{ lab }}</span> {{/if }}
        {{#if ons }}<span style="background-color: orange;" class="badge">{{ ons }}</span> {{/if }}
        {{#if onspop }}<span style="background-color: #ff80ce;" class="badge">{{ onspop }}</span> {{/if }}
        </td>
        <td>{{ fdate }}</td>
      </tr>
      {{/if }}
      {{/each }}
    </tbody>
  </table>
</section>